body{
 margin: 0px;
 font-family: "EB"
}

body {
  font-family: "EB Garamond"; 
}

/* navbar styling */
.ul-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 24px;
}

.li-nav {
  float: left;
}

.li-nav .anchor-nav {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

.li-nav a:hover:not(.active-page) {
  background-color: #111;
}
/* end navbar styling */